[Desktop Entry]
Name=Vacuum
GenericName=Jabber Client
GenericName[ru]=Jabber-клиент
Comment=Qt-based Jabber (XMPP) client
Exec=vacuum
StartupNotify=true
Terminal=false
Type=Application
Icon=/usr/share/vacuum/resources/menuicons/shared/mainwindowlogo128.png
Categories=Network;InstantMessaging;
